.register-button {
  width: 20%;
  padding: 1vmax;
  border: 1px solid #55c4e9;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  transition: 0.5s;
  background-color: #55c4e9;
}

.create-room-button {
  width: 97%;
  margin: 1.5%;
  padding: 0.5rem;
  border: 1px solid #55c4e9;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  line-height: 1.5;
  transition: 0.5s;
  background-color: #55c4e9;
}

.create-button {
  width: 10%;
  padding: 0.5vmax;
  border: 1px solid #55c4e9;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  transition: 0.5s;
  background-color: #55c4e9;
}

.edit-button {
  width: fit-content;
  margin: 0 5px 5px 0;
  padding: 0.5vmax;
  border: 1px solid #55c4e9;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  transition: 0.5s;
  background-color: #55c4e9;
}

.register-button:hover,
.create-room-button:hover,
.create-button:hover,
.edit-button:hover {
  border-color: #1e8db1;
  background-color: #1e8db1;
}

.register-button:disabled,
.create-button:disabled,
.edit-button:disabled {
  color: white;
  border-color: #c1eaf8;
  background-color: #c1eaf8;
}

.cancel-button {
  width: fit-content;
  margin: 0 5px 5px 0;
  padding: 0.5vmax;
  border: 1px solid #55c4e9;
  border-radius: 5px;
  color: #55c4e9;
  font-size: 1rem;
  line-height: 1.5;
  transition: 0.5s;
  background-color: white;
}

.cancel-button:hover {
  color: #1e8db1;
  border-color: #1e8db1;
  background-color: #DDDDDD;
}

.send-message-button {
  width: 10%;
  padding: 0.3vmax;
  border: 1px solid #4169E1;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #4169E1;
  transition: 0.5s;
}

.send-message-button:hover {
  border-color: #0034d1;
  background-color: #0034d1;
}

.send-message-button:disabled {
  border-color: #99b3ff;
  background-color: #99b3ff;
}

.close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  right: 5px;
  font-weight: bold;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.5s;
}

.close-button:hover {
  background-color: #333;
  color: #fff;
}