* {
  margin: 0;
  padding: 0;
}

#welcameText {
  width: 80%;
  margin: 0 auto;
  padding-top: 10vmax;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
}

#registerUserName {
  width: 80%;
  margin: 0 auto;
  padding-top: 5vmax;
  text-align: center;
}